---
import type { BlogPost } from "../../storyblok/BlogPostList.astro"

const {featuredPosts} = Astro.props
---
<div class="relative">
  <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#026cbf] to-[#011f5b] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>

  <div class="bg-white pb-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="border-b border-gray-200 pb-4">
        <h2 class="font-bold tracking-tight text-gray-900 sm:text-3xl">Featured Stories</h2>
      </div>
      <div class="mx-auto mt-12 grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        {featuredPosts.map((post:BlogPost) => (
          <article class="flex flex-col items-start group">
            <div class="relative w-full overflow-hidden rounded-2xl">
              <img
                src={post.content.featuredImage.filename}
                alt=""
                class="aspect-[16/9] w-full object-cover transition duration-300 group-hover:scale-105"
              />
            </div>
            <div class="max-w-xl">
              <div class="mt-6 flex items-center gap-x-4 text-sm">
                <time datetime={post.published_at} class="text-gray-500 font-medium">
                  {new Date(post.published_at).toLocaleDateString("en-US", {dateStyle: "medium"})}
                </time>
                <span class="h-1 w-1 rounded-full bg-gray-300"></span>
                <span class="text-gray-500">5 min read</span>
              </div>
              <div class="relative">
                <h3 class="mt-3 text-xl font-bold leading-tight text-gray-900 group-hover:text-[#026cbf] transition duration-200">
                  <a href={post.full_slug}>
                    <span class="absolute inset-0" />
                    {post.content.title}
                  </a>
                </h3>
                <p class="mt-4 line-clamp-3 text-base leading-relaxed text-gray-600">{post.content.description}</p>
              </div>
              <div class="mt-6 flex items-center gap-x-4">
                <img src={post.content.author.content.image.filename} alt={post.content.author.content.name} class="h-10 w-10 rounded-full object-cover" />
                <div class="text-sm">
                  <p class="font-semibold text-gray-900 hover:text-[#026cbf] transition duration-200">
                    <a href={post.content.author.full_slug}>
                      {post.content.author.content.name}
                    </a>
                  </p>
                  <p class="text-gray-600">{post.content.author.content.role}</p>
                </div>
              </div>
            </div>
          </article>
        ))}
      </div>
    </div>
  </div>

  <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
    <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#026cbf] to-[#011f5b] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
</div>