---
import type { BlogPost } from "../../storyblok/BlogPostList.astro"
const {featuredPosts} = Astro.props
// console.log("posts",featuredPosts)
---
    <>
      <div class="bg-white py-12">
        <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-12 px-6 sm:gap-y-16 lg:grid-cols-2 lg:px-8">
          {featuredPosts.map((featuredPost) => (
            <article class="mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-lg">
              <time
                datetime={featuredPost.published_at}
                class="block text-sm leading-6 text-gray-600"
              >
                {featuredPost.published_at}
              </time>
              <h2
                id="featured-post"
                class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
              >
                {featuredPost.content.title}
              </h2>
              <p class="mt-4 text-lg leading-8 text-gray-600">
                {featuredPost.content.description}
              </p>
              <div class="mt-4 flex flex-col justify-between gap-6 sm:mt-8 sm:flex-row-reverse sm:gap-8 lg:mt-4 lg:flex-col">
                <div class="flex">
                  <a
                    href={featuredPost.full_slug}
                    class="text-sm font-semibold leading-6 text-[#026cbf]"
                    aria-describedby="featured-post"
                  >
                    Continue reading <span aria-hidden="true">&rarr;</span>
                  </a>
                </div>
                <div class="flex lg:border-t lg:border-gray-900/10 lg:pt-8">
                  <a
                    href={featuredPost.content.author.name}
                    class="flex gap-x-2.5 text-sm font-semibold leading-6 text-gray-900"
                  >
                    <img
                      src={featuredPost.content.author.content.image.filename}
                      alt=""
                      class="h-6 w-6 flex-none rounded-full bg-gray-50"
                    />
                    {featuredPost.content.author.content.name}
                  </a>
                </div>
              </div>
            </article>
          ))}
          <div class="mx-auto w-full max-w-2xl border-t border-gray-900/10 pt-12 sm:pt-16 lg:mx-0 lg:max-w-none lg:border-t-0 lg:pt-0">
            <div class="-my-12 divide-y divide-gray-900/10">
              {/* {posts.map((post) => (
                <article key={post.id} class="py-12">
                  <div class="group relative max-w-xl">
                    <time
                      dateTime={post.datetime}
                      class="block text-sm leading-6 text-gray-600"
                    >
                      {post.date}
                    </time>
                    <h2 class="mt-2 text-lg font-semibold text-gray-900 group-hover:text-gray-600">
                      <a href={post.href}>
                        <span class="absolute inset-0" />
                        {post.title}
                      </a>
                    </h2>
                    <p class="mt-4 text-sm leading-6 text-gray-600">
                      {post.description}
                    </p>
                  </div>
                  <div class="mt-4 flex">
                    <a
                      href={post.author.href}
                      class="relative flex gap-x-2.5 text-sm font-semibold leading-6 text-gray-900"
                    >
                      <img
                        src={post.author.imageUrl}
                        alt=""
                        class="h-6 w-6 flex-none rounded-full bg-gray-50"
                      />
                      {post.author.name}
                    </a>
                  </div>
                </article>
              ))} */}
            </div>
          </div>
        </div>
      </div>
    </>
